@font-face {
    font-family: "Poppins";
    src: url(./fonts/Poppins/Poppins-Regular.ttf) format("ttf");
}

*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* article style */
.article {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    padding: 0 8.5rem;
}

.article-list {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    color: #FFFFFF;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 1.2rem;
    margin: 1.2rem 0;
}

li.article-item:first-child {
    padding: 0 1.2rem 0 0;
}

li.article-item:last-child {
    padding: 0 0 0 1.2rem;
}

.border-item {
    border-left: #9B9B9B solid 0.1rem;
}

article svg {
    margin: 0 0.5rem;
}

/* end of article style */

/* navbar style */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8.5rem;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    color: #242424;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin: 3rem 0 3.3rem 0;
    padding: 0 2rem;
}

